
body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-rows: 150px 1000px;
    grid-template-columns: 200px 1fr;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    height: max(150px, 20%);
    background-color: rgb(250, 250, 120);
    box-shadow: 4px 4px 10px black;
    grid-row: 1/2;
    grid-column: 1/-1;
}

.sideBar {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    background-color: rgb(223, 223, 223);
    margin-bottom: -101%;
    padding-bottom: 101%; 
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    list-style-type: none;
    padding: 12px;
    margin-left: -36px;
    margin-top: 12px;
    transition: 0.2s;
    cursor: pointer;
}

.firstContainer>ul>li:nth-child(1){
    background: url(../src/img/inbox.png) left center no-repeat;
    padding-left: 52px;
}
.firstContainer>ul>li:nth-child(2){
    background: url(../src/img/home.png) left center no-repeat;
    padding-left: 52px;
}
li.selected {
    font-weight: bold;
}

.addProject,
.addTask {
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s;
    height: 2rem;
    padding: 6px 15px 6px;
}
.addProject:hover,
.addTask:hover {
    background-color: rgb(189, 187, 187);
}

.yourProjects>li {
    background: url(../src/img/checklistProject.png) left center no-repeat;
    padding-left: 52px;
    margin-top: 0px;
}

#main {
    grid-column: 2/-1;
    grid-row: 2/-1;
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    padding-left: 12px;
}
.task {
    box-sizing: border-box;
    background-color: rgb(236, 235, 235);
    opacity: 0.8;
    padding: 12px;
    border-radius: 5px;
    width: max(200px, 90%);
    height: 50px;
    box-shadow: 2px 2px 6px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    transition: 0.3s;
}
.task:hover {
    transform: scale(1.025);
}

.edit,
.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.taskLeft,
.taskRight {
    display: flex;
    gap: 14px;
    place-items: center center;
}
.details {
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: rgb(78, 158, 131);
    transition: 0.2s;
}
.details:hover {
    background-color: rgb(101, 201, 166);
    color: white;
}

.priorityHigh {
    border-left: 6px solid red;
}
.priorityMed {
    border-left: 6px solid orange;
}
.priorityLow {
    border-left: 6px solid rgb(252, 184, 57);
}
.isComplete:checked~.taskText {
    text-decoration: line-through;
}
